@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userLayout</title>
</head>
<body>
    @Scripts.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Content/vikings.css")
    @Scripts.Render("~/Content/3-col-portfolio.css")


    <div>
        
    </div>
</body>
</html>
